<footer>
    <div class="container">
        <div class="row footer-top-w3layouts">
            <div class="col-lg-3 footer-grid-w3ls" data-aos="zoom-in">
                <div class="footer-title">
                    <h2>About Us</h2>
                </div>
                <div class="footer-text">
                    <p>We are one of the leading training provider in computer science field to build the future of India.</p>
    
                </div>
            </div>
            <div class="col-lg-3 footer-grid-w3ls" data-aos="zoom-in">
                <div class="footer-title">
                    <h3>Contact Us</h3>
                </div>
                <div class="footer-office-hour">
                    <ul>
                        <li class="hd">Address :</li>
                        <li>Train Future 18 Dallas Street Goa,India</li>
    
                    </ul>
                    <ul>
                        <li class="hd">Phone:+91 9140824647</li>
                        <li class="hd">Email:
                            <a href="mailto:info@example.com">jhansiabhishek@gmail.com</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 footer-grid-w3ls" data-aos="zoom-in">
                <div class="footer-title">
                    <h3>Our Trainings</h3>
                </div>
                <div class="footer-list">
                    <div class="flickr-grid">
                
                            <img src="assets/images/g1.png" class="img-fluid" alt=" ">
                        
                    </div>
                    <div class="flickr-grid">
                        
                            <img src="assets/images/g2.png" class="img-fluid" alt=" ">
                    
                    </div>
                    <div class="flickr-grid">
                        
                            <img src="assets/images/g3.png" class="img-fluid" alt=" ">
                        
                    </div>
                    <div class="flickr-grid">
                        
                            <img src="assets/images/g4.png" class="img-fluid" alt=" ">
                        
                    </div>
                    <div class="flickr-grid">
                        
                            <img src="assets/images/g9.jpg" class="img-fluid" alt=" ">
                    
                    </div>
                    <div class="flickr-grid">
                        
                            <img src="assets/images/g5.jpg" class="img-fluid" alt=" ">
                    
                    </div>
                    <div class="flickr-grid">
                        
                            <img src="assets/images/g6.png" class="img-fluid" alt=" ">
                        
                    </div>
                    <div class="flickr-grid">
                        
                            <img src="assets/images/g7.jpg" class="img-fluid" alt=" ">
                        
                    </div>
                    <div class="flickr-grid">
                    
                            <img src="assets/images/g8.jpg" class="img-fluid" alt=" ">
                        
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-lg-3 footer-grid-w3ls" data-aos="zoom-in">
                <div class="footer-title">
                    <h3>Subscribe</h3>
                </div>
                <p>Suscribe to get daily feedback of our trainings</p>
                <form action="#" method="post" class="newsletter">
                    <input class="email" type="email" placeholder="Your email..." required="">
                    <button class="btn1">
                        <i class="far fa-envelope"></i>
                    </button>
                </form>
                <div class="clearfix"></div>
            </div>
    
        </div>
    
    </div>
    </footer>
    <!---->
    <div class="copyright">
    <div class="container">
        <div class="copyrighttop" data-aos="fade-left">
            <ul>
                <li>
                    <h4>Follow us on:</h4>
                </li>
                <li>
                    <a class="facebook" href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a class="facebook" href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a class="facebook" href="#">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                </li>
                <li>
                    <a class="facebook" href="#">
                        <i class="fab fa-pinterest-p"></i>
                    </a>
                </li>
            </ul>
        </div>
        
        <div class="clearfix"></div>
    </div>
    </div>
    
