<div class="about-section">
    <h1>About Us Page</h1>
    <p style="color: aliceblue;">We are providing a platform to train employees to build a better future, We give a training which fits the work enviorment of an Organization. </p>
    
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../../assets/images/b2.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>NIKHIL</h2>
          <p class="title">CEO & Founder</p>
          <p>Nikhil is graduated from usa. And a former AI expert</p>
          <p>Nikhil@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../assets/images/b3.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Amit</h2>
          <p class="title">CEO & Founder</p>
          <p class="title">Amit is gratudated from california and a Machine Learning expert</p>
          <p></p>
          <p>Amit@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../assets/images/b1.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>Abhishek Jain</h2>
          <p class="title">CEO & Founder</p>
          <p>Abhishek is graduated from Los Angels and a full stack developer</p>
          <p>Abhishek@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
