<app-header></app-header>
<div>

<!--/banner-->
<div class="banner">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="carousel-caption">
                <h3>We Are More Than A Training Company</h3>

               

            </div>
        </div>
        <div class="carousel-item item2">
            <div class="carousel-caption">
                <h3>Turning Minds Into A Extraordinary Mind</h3>

               
            </div>
        </div>
        <div class="carousel-item item3">
            <div class="carousel-caption">
                <h3>Train Employees To Build Future</h3>

               

            </div>
        </div>
        <div class="carousel-item item4">
            <div class="carousel-caption">
                <h3>Only Wants Success Of Our Nation</h3>

                
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
</div>
<!--/model-->
<!-- Modal -->

<!--//model-->
<!--//banner-->
<section class="banner-bottom">
<div class="container">

    <!-- Three columns of text below the carousel -->
    <div class="row inner-sec-wthree">

        <div class="col-lg-5 bt-bottom-info" data-aos="fade-right">
            <h5>Welcome to Train Future</h5>

        </div>
        <div class="col-lg-7 bt-bottom-info" data-aos="fade-left">
            <p>Training is the process of enhancing the skills, capabilities and knowledge of employees for doing a particular job. Training process moulds the thinking of employees and leads to quality performance of employees. It is continuous and never ending in nature.We provide the best training for Employees of your company to build a Future.</p>
        </div>
    </div>
    <div class="row inner-sec-wthree">
        <div class="col-lg-4 bottom-sub-grid text-center aos-init aos-animate" data-aos="zoom-in">
            <div class="bt-icon">

                <span class="fas fa-trophy"></span>
            </div>

            <h4 class="sub-tittle">Humility</h4>
            <p>

         Openness to new ideas and feedback regarding one’s performance </p>
         
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4 bottom-sub-grid text-center aos-init aos-animate" data-aos="zoom-in">
            <div class="bt-icon">
                <span class="far fa-thumbs-up"></span>
            </div>

            <h4 class="sub-tittle">Passion</h4>
            <p>Our Training is for passionate people who really wants to become better version of herself</p>
           
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4 bottom-sub-grid text-center aos-init aos-animate" data-aos="zoom-in">
            <div class="bt-icon">
                <span class="fas fa-tv"></span>
            </div>

            <h4 class="sub-tittle">Honesty</h4>
            <p>Honesty is the main pillar in One's success,And we strongly admire it</p>
           
        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>
<!-- /.row -->
</section>
<!---->
<!-- /stats -->
<section class="stats_test container-fluid">

<div class="row inner_stat">
    <div class="col-lg-6 stats-left-info">
        <div class="row">
            <div class="col-md-6 stats_left counter_grid">
                <i class="far fa-building"></i>
                <p class="counter">145</p>
                <h4>Partner Companies</h4>
            </div>
            <div class="col-md-6 stats_left counter_grid1">
                <i class="fas fa-users"></i>
                <p class="counter">165</p>
                <h4>Employees</h4>
            </div>
            <div class="col-md-6 stats_left counter_grid2">
                <i class="far fa-edit"></i>
                <p class="counter">53</p>
                <h4>Trainings</h4>
            </div>
            <div class="col-md-6 stats_left counter_grid3">
                <i class="far fa-smile"></i>
                <p class="counter">7045</p>
                <h4>Happy Trainers</h4>
            </div>
        </div>
    </div>
    <div class="col-lg-6 stats-right-img">

    </div>
</div>
</section>
<!-- //stats -->
<!--/services-->
<section class="services">
<div class="container">
    <h3 class="tittle">Our Guiding Principles</h3>
    <div class="row inner-sec-wthree">
        <div class="col-lg-4 grid_info_main" data-aos="flip-left">
            <div class="grid_info">
                <div class="icon_info">
                    <span class="icon">
                        <i class="fas fa-laptop"></i>
                    </span>
                    <h5>Build on your strengths</h5>
                    <p> We Look to these strengths—whether formal or informal—to help you fix those critical areas that you’ve prioritized.</p>
                </div>
            </div>
            <div class="grid_info second">
                <div class="icon_info">
                    <span class="icon">
                        <i class="far fa-clone"></i>
                    </span>
                    <h5>A great staff</h5>
                    <p>Provide your customers with the best possible products and services you can deliver and always treat them with respect and understanding.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 grid_info_main mid" data-aos="flip-down">
            <img src="assets/images/ab.jpg" class="img-fluid" alt=" ">
        </div>
        <div class="col-lg-4 grid_info_main" data-aos="flip-right">
            <div class="grid_info">
                <div class="icon_info">
                    <span class="icon">
                        <i class="fas fa-sitemap"></i>
                    </span>
                    <h5>Passion</h5>
                    <p>Trainers passionate about technology will be boost in a particular field.</p>
                </div>
            </div>
            <div class="grid_info second">
                <div class="icon_info">
                    <span class="icon">
                        <i class="fab fa-android"></i>
                    </span>
                    <h5>Consistency</h5>
                    <p>you should be consistent in your learning to become better version of yourself</p>
                </div>
            </div>
        </div>


    </div>
</div>
</section>
<!--//services-->
<!---->
<section class="grids_sec_2">
<div class="row style-grids_main">
    <div class="col-md-6 grid_sec_info">
        <div class="style-grid-2-text_info" data-aos="fade-right">
            <h3>
                Turning Minds Into A Extraordinary Mind</h3>
            <p>If a trainer is passionate about learning and be consistent in learning then we promise he becomes an extraordinary Mind</p>

        </div>
    </div>
    <div class="col-md-6 style-image-2">
    </div>
    <div class="col-md-6 style-image-2 second">
    </div>
    <div class="col-md-6 grid_sec_info">
        <div class="style-grid-2-text_info" data-aos="fade-right">
            <h3>
                Train Employees To Build Future</h3>
            <p>We train Employees to build the future because we are only responsible to change the future</p>
          

        </div>
    </div>

</div>
</section>
<!--/Projects-->
<section class="services">
<div class="container">
    <h3 class="tittle">Our Trainings
    </h3>
    <div class="row inner-sec-wthree">

        <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
            <div class="section_1_gallery_grid">
                <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="assets/images/g1.jpg">
                    <div class="section_1_gallery_grid1">
                        <img src="assets/images/g1.png" alt=" " class="img-fluid" />
                       
                    </div>
                </a>
            </div>
            <div class="section_1_gallery_grid" data-aos="zoom-in">
                <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="assets/images/g2.jpg">
                    <div class="section_1_gallery_grid1">
                        <img src="assets/images/g2.png" alt=" " class="img-fluid" />
                       
                    </div>
                </a>
            </div>
            <div class="section_1_gallery_grid" data-aos="zoom-in">
                <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="assets/images/g3.jpg">
                    <div class="section_1_gallery_grid1">
                        <img src="assets/images/g3.png" alt=" " class="img-fluid" />
                        
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
            <div class="section_1_gallery_grid">
                <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="assets/images/g4.jpg">
                    <div class="section_1_gallery_grid1">
                        <img src="assets/images/g4.png" alt=" " class="img-fluid" />
                        
                    </div>
                </a>
            </div>
            <div class="section_1_gallery_grid" data-aos="zoom-in">
                <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="assets/images/g5.jpg">
                    <div class="section_1_gallery_grid1">
                        <img src="assets/images/g5.jpg" alt=" " class="img-fluid" />
                      
                    </div>
                </a>
            </div>
            <div class="section_1_gallery_grid" data-aos="zoom-in">
                <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="assets/images/g6.jpg">
                    <div class="section_1_gallery_grid1">
                        <img src="assets/images/g6.png" alt=" " class="img-fluid" />
                       
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
            <div class="section_1_gallery_grid">
                <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="assets/images/g7.jpg">
                    <div class="section_1_gallery_grid1">
                        <img src="assets/images/g7.jpg" alt=" " class="img-fluid" />
                       
                    </div>
                </a>
            </div>
            <div class="section_1_gallery_grid" data-aos="zoom-in">
                <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="assets/images/g8.jpg">
                    <div class="section_1_gallery_grid1">
                        <img src="assets/images/g8.jpg" alt=" " class="img-fluid" />
                       
                    </div>
                </a>
            </div>
            <div class="section_1_gallery_grid" data-aos="zoom-in">
                <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="assets/images/g9.jpg">
                    <div class="section_1_gallery_grid1">
                        <img src="assets/images/g9.jpg" alt=" " class="img-fluid" />
                       
                    </div>
                </a>
            </div>
        </div>



    </div>
</div>
</section>
<!--//Projects-->
<!--reviews_sec-->
<section class="reviews_sec" id="testimonials">
<h3 class="tittle cen">"You Become What You Study"</h3>

</section>
<!---->
<!--footer-->
<app-footer></app-footer>